# Environment variables
.env
.env.local
.env.development
.env.production

# Node modules (root, server, frontend)
node_modules/
server/node_modules


# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build outputs
dist/
build/
frontend/build/
server/dist/

# OS / Editor junk
.DS_Store
Thumbs.db
.vscode/
.idea/
server/bigblog-3e96f-firebase-adminsdk-fbsvc-fd79b68a59.json
